*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #da99e5, #dfa0e7, #e3a6e8, #e7adea, #ebb4ec, #dbbff7, #ccc8fe, #c1d1ff, #a7ddff, #9de6f5, #a7ece2, #c0eecf);
    color: wheat;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

#new-task{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background-color: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: grey;
}

#new-task-submit{
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 2rem;
    padding: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right top, #9ed8f3, #a5d5fb, #b2d1ff, #c4cbff, #d7c5fc, #e0c3f8, #e8c0f3, #f0beee, #f0bfed, #efbfec, #efc0ec, #eec0eb);
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}



.task-list{
    padding: 1rem;
}

.task-list h2{
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    padding: 15px;
    color: black;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: pink;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-image: linear-gradient(to right top, #da99e5, #dfa0e7, #e3a6e8, #e7adea, #ebb4ec, #dbbff7, #ccc8fe, #c1d1ff, #a7ddff, #9de6f5, #a7ece2, #c0eecf);
}

.task .actions .delete{
    background-image: linear-gradient(to right top, #da99e5, #dfa0e7, #e3a6e8, #e7adea, #ebb4ec, #dbbff7, #ccc8fe, #c1d1ff, #a7ddff, #9de6f5, #a7ece2, #c0eecf);
}